@{
    // TempData.Keep()
    var currentPath = ViewContext.HttpContext.Request.Path.Value?.ToLower() ?? "";

    bool IsActive(string url) => currentPath.StartsWith(url.ToLower());

    string ActiveClass(string url, string type = "parent") => IsActive(url)
        ? (type == "parent" ? "active open" : "active")
        : "";
}
<style>
    .menu-link.active {
        color: #696CFF !important;
        font-weight: 600;
    }

    .menu-item.active.open > .menu-link {
        background-color: #f5f5ff;
    }

    .menu-sub .menu-link.active {
        color: #a0a3ff !important;
        font-weight: 700;
        background-color: #f1f1ff;
        
    }
</style>

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo @(Convert.ToBoolean(ViewData["navbarFull"]) ? "d-xl-none" : "")">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">

        <!-- Dashboard -->
        <li class="menu-item @(ActiveClass("/Admin/Dashboard/Index"))">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="menu-link @(ActiveClass("/Admin/Dashboard/Index"))">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div>Dashboard</div>
            </a>
        </li>


        <!-- Reports -->
        <li class="menu-item @(ActiveClass("/admin/Report/WalletTransacctions"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/Report/WalletTransacctions"))">
                <i class="menu-icon tf-icons bx bxs-report"></i>
                <div>Reports </div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/Report/WalletTransacctions") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="Report" asp-action="WalletTransacctions" class="menu-link @(ActiveClass("/admin/Report/WalletTransacctions", "sub"))">
                        <div>All Wallet Transactions</div>
                    </a>
                </li>
                
            </ul>
        </li>


        <!-- Master Distributor -->
        <li class="menu-item @(ActiveClass("/admin/addagent/addmasterdistributor")) @(ActiveClass("/admin/list/listmasterdistributor")) @(ActiveClass("/admin/Wallet/MasterDistributor"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/addagent/addmasterdistributor"))">
                <i class="menu-icon tf-icons bx bxs-user-rectangle"></i>
                <div>Master Distributor</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/addagent/addmasterdistributor") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="AddAgent" asp-action="AddMasterDistributor" class="menu-link @(ActiveClass("/admin/addagent/addmasterdistributor", "sub"))">
                        <div>Add Master Distributor</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/list/listmasterdistributor") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="List" asp-action="ListMasterDistributor" class="menu-link @(ActiveClass("/admin/list/listmasterdistributor", "sub"))">
                        <div>List Master Distributor</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/Wallet/MasterDistributor") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="Wallet" asp-action="MasterDistributor" class="menu-link @(ActiveClass("/admin/Wallet/MasterDistributor", "sub"))">
                        <div>Manage Wallet</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Distributor -->
        <li class="menu-item @(ActiveClass("/admin/addagent/adddistributor")) @(ActiveClass("/admin/list/listdistributor"))@(ActiveClass("/admin/Wallet/Distributor"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/addagent/adddistributor"))">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div>Distributor</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/addagent/adddistributor") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="AddAgent" asp-action="AddDistributor" class="menu-link @(ActiveClass("/admin/addagent/adddistributor", "sub"))">
                        <div>Add Distributor</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/list/listdistributor") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="List" asp-action="ListDistributor" class="menu-link @(ActiveClass("/admin/list/listdistributor", "sub"))">
                        <div>List Distributor</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/Wallet/Distributor") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="Wallet" asp-action="Distributor" class="menu-link @(ActiveClass("/admin/Wallet/Distributor", "sub"))">
                        <div>Manage Wallet</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Retailer -->
        <li class="menu-item @(ActiveClass("/admin/addagent/addretailer")) @(ActiveClass("/admin/list/listretailer")) @(ActiveClass("/admin/Wallet/RetailerList"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/addagent/addretailer"))">
                <i class="menu-icon tf-icons bx bx-store-alt"></i>
                <div>Retailer</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/addagent/addretailer") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="AddAgent" asp-action="AddRetailer" class="menu-link @(ActiveClass("/admin/addagent/addretailer", "sub"))">
                        <div>Add Retailer</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/list/listretailer") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="List" asp-action="ListRetailer" class="menu-link @(ActiveClass("/admin/list/listretailer", "sub"))">
                        <div>List Retailer</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/Wallet/RetailerList") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="Wallet" asp-action="RetailerList" class="menu-link @(ActiveClass("/admin/Wallet/RetailerList", "sub"))">
                        <div>Manage Wallet</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Commission -->
        <li class="menu-item @(ActiveClass("/admin/UserCommission/MasterDistributors")) @(ActiveClass("/admin/UserCommission/Distributors")) @(ActiveClass("/admin/UserCommission/Retailers"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/UserCommission/MasterDistributors"))">
                <i class="menu-icon tf-icons bx  bx-bullseye"></i>
                <div>Commissions</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/UserCommission/MasterDistributors") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="UserCommission" asp-action="MasterDistributors" class="menu-link @(ActiveClass("/admin/UserCommission/MasterDistributors", "sub"))">
                        <div>Master Distributor</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/UserCommission/Distributors") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="UserCommission" asp-action="Distributors" class="menu-link @(ActiveClass("/admin/UserCommission/Distributors", "sub"))">
                        <div>Distributor</div>
                    </a>
                </li>
                <li class="menu-item @(IsActive("/admin/UserCommission/Retailers") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="UserCommission" asp-action="Retailers" class="menu-link @(ActiveClass("/admin/UserCommission/Retailers", "sub"))">
                        <div>Retailer</div>
                    </a>
                </li>
            </ul>
        </li>


        <!-- Modify user services -->
        <li class="menu-item @(ActiveClass("/Admin/Useravailableservices/RetailerList")) @(ActiveClass("/Admin/Useravailableservices/ModifyServices"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/Admin/Useravailableservices/RetailerList"))">
                <i class="menu-icon tf-icons  bx bx-cog"></i>
                <div>Services of User</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/Admin/Useravailableservices/RetailerList") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="Useravailableservices" asp-action="RetailerList" class="menu-link @(ActiveClass("/Admin/Useravailableservices/RetailerList", "sub"))">
                        <div>Available Services</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- KYC -->
        <li class="menu-item @(ActiveClass("/admin/kycmanager/kyclist"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/kycmanager/kyclist"))">
                <i class="menu-icon tf-icons bx bx-id-card"></i>
                <div>KYC</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/kycmanager/kyclist") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="KycManager" asp-action="KycList" class="menu-link @(ActiveClass("/admin/kycmanager/kyclist", "sub"))">
                        <div>KYC Pending Request</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Role -->
        <li class="menu-item @(ActiveClass("/admin/dashboard/rolemanagement"))">
            <a href="javascript:void(0);" class="menu-link menu-toggle @(ActiveClass("/admin/dashboard/rolemanagement"))">
                <i class="menu-icon tf-icons bx bx-lock-alt"></i>
                <div>Role</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(IsActive("/admin/dashboard/rolemanagement") ? "active" : "")">
                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="RoleManagement" class="menu-link @(ActiveClass("/admin/dashboard/rolemanagement", "sub"))">
                        <div>Role List</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
